<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&family=Roboto+Slab:wght@600&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Concert+One&family=Roboto&family=Roboto+Slab:wght@600&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap" rel="stylesheet">
</head>

<body>
    <div class="border-b w-screen h-20 bg-white mr-auto ml-auto text-black flex justify-around items-center border-b-black" style="font-family: 'Roboto Slab', serif;">
                <div class="flex justify-between items-center ">
                    <img src="/images/brand_logo.png" alt="brand_logo" class="hover:shadow-lg border-2 border-brown h-16 w-16 text-black mt-0 mb-0 ml-8 mr-8 pt-0  rounded-full">
                    <ul class="nav_list flex justify-center items-center">
                        <li class="ml-12 mr-12 hover:shadow-lg"><a href="/" action="home" class="no-underline">Home</a></li>
                        <li class="ml-12 mr-12 hover:shadow-lg"><a href="/blog" action="about" class="no-underline">Blog</a></li>
                        <li class="ml-12 mr-12 hover:shadow-lg"><a href="/contact" action="contact" class="no-underline">Contact</a></li>
                    </ul>
                </div>

                <div class="ml-11 mr-11">
                    <input type="text" placeholder="Search for Article" class="hover:border-2 hover:border-purple-400 border border-black h-8 w-48 outline-2 outline-white rounded-md text-sm mr-4 ml-4 mt-0 mb-0 text-center">
                    <button class="srch_btn hover:shadow-lg cursor-pointer bg-slate-200 border-none h-8 w-20 outline-2 outline-white rounded-md">Search</button>
                </div>
    </div>
</body>
</html>